<style>
       .gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Increased minimum width */
        grid-gap: 20px; /* Increased gap for better spacing */
        grid-auto-rows: 300px; /* Set a fixed height for rows */
    }
    .gallery-item {
        position: relative;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f9fa;
        height: 100%; /* Ensure full height of grid cell */
    }
    .gallery-item:hover {
        transform: scale(1.05);
    }
    .gallery-item a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .gallery-item img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    .modal-dialog {
    max-width: 90vw;
    width: 90vw;
    height: 90vh;
    margin: 5vh auto;
}
.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.modal-header, .modal-footer {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    padding: 10px 20px; /* Reduced padding */
    flex-shrink: 0; /* Prevent header and footer from shrinking */
}
.modal-body {
    flex-grow: 1;
    padding: 0;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#modalImage {
    max-height: calc(100vh - 140px); /* Adjust based on header and footer height */
    max-width: 100%;
    object-fit: contain;
}
    .modal-nav-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }
    .modal-nav-button:hover {
        background-color: rgba(255, 255, 255, 0.3);
        transform: translateY(-50%) scale(1.1);
    }
    #prevBtn {
        left: 20px;
    }
    #nextBtn {
        right: 20px;
    }
    .image-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
    }
    .btn-close-white {
        filter: invert(1) grayscale(100%) brightness(200%);
    }
    .modal-title {
        font-size: 18px;
        font-weight: 600;
    }

    .modal {
    overflow: hidden !important;
}

</style>

<div class="container my-5">
    <div class="gallery-grid">
        {% for asset in images -%}
        {%- if asset is matching("[.](jpg|png)$") -%}
        <div class="gallery-item">
            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-index="{{ loop.index0 }}">
                <img src="{{ asset }}" alt="Image {{ loop.index }}">
            </a>
        </div>
        {%- endif %}
        {% endfor %}
    </div>
</div>

<!-- Improved Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Gallery</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" id="modalImage" alt="Full size image">
                <button class="modal-nav-button" id="prevBtn">&lt;</button>
                <button class="modal-nav-button" id="nextBtn">&gt;</button>
            </div>
            <div class="modal-footer">
                <div class="image-info">
                    <span id="imageIndex"></span>
                    <span id="imageName"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modalImage = document.getElementById('modalImage');
        const modal = new bootstrap.Modal(document.getElementById('imageModal'));
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');
        const imageLinks = document.querySelectorAll('.gallery-item a');
        const images = Array.from(imageLinks).map(link => ({
            src: link.querySelector('img').src,
            name: link.querySelector('img').alt
        }));
        let currentIndex = 0;
    
        function showImage(index) {
            if (index >= 0 && index < images.length) {
                modalImage.src = images[index].src;
                document.getElementById('imageIndex').textContent = `Image ${index + 1} of ${images.length}`;
                document.getElementById('imageName').textContent = images[index].name;
                currentIndex = index;
                updateButtonStates();
            }
        }
    
        function updateButtonStates() {
            prevBtn.style.display = currentIndex === 0 ? 'none' : 'block';
            nextBtn.style.display = currentIndex === images.length - 1 ? 'none' : 'block';
        }
    
        prevBtn.addEventListener('click', () => showImage(currentIndex - 1));
        nextBtn.addEventListener('click', () => showImage(currentIndex + 1));
    
        imageLinks.forEach((link, index) => {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                currentIndex = index;
                showImage(currentIndex);
                modal.show();
            });
        });
    
        document.addEventListener('keydown', function (e) {
            if (modal._isShown) {
                if (e.key === 'ArrowLeft') showImage(currentIndex - 1);
                else if (e.key === 'ArrowRight') showImage(currentIndex + 1);
                else if (e.key === 'Escape') modal.hide();
            }
        });
    
        // Close modal on clicking outside the image
        modalImage.addEventListener('click', function(e) {
            e.stopPropagation();
        });
        document.querySelector('.modal-body').addEventListener('click', function(e) {
            if (e.target === this) modal.hide();
        });
    
        // New code to prevent scrolling when modal is open
        const body = document.body;
    
        // Function to disable scrolling
        function disableScroll() {
            body.classList.add('modal-open');
        }
    
        // Function to enable scrolling
        function enableScroll() {
            body.classList.remove('modal-open');
        }
    
        // Add event listeners for modal show and hide
        document.getElementById('imageModal').addEventListener('show.bs.modal', disableScroll);
        document.getElementById('imageModal').addEventListener('hidden.bs.modal', enableScroll);
    });
    </script>