<div class="container">
  <div class="row">
      {% for asset in images -%}
      {%- if asset is matching("[.](jpg|png)$") -%}
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <a href="#" data-toggle="modal" data-target="#imageModal{{ loop.index }}">
              <img src="{{ get_url(path=asset) }}" class="img-fluid rounded" alt="Image">
          </a>
      </div>
      {%- endif %}
      {% endfor %}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image</h5>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <a href="#" class="btn btn-outline-secondary btn-sm" id="prevBtn"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.85355 3.14645C7.04882 3.34171 7.04882 3.65829 6.85355 3.85355L3.70711 7H12.5C12.7761 7 13 7.22386 13 7.5C13 7.77614 12.7761 8 12.5 8H3.70711L6.85355 11.1464C7.04882 11.3417 7.04882 11.6583 6.85355 11.8536C6.65829 12.0488 6.34171 12.0488 6.14645 11.8536L2.14645 7.85355C1.95118 7.65829 1.95118 7.34171 2.14645 7.14645L6.14645 3.14645C6.34171 2.95118 6.65829 2.95118 6.85355 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg></a>
                <img src="" id="modalImage" class="img-fluid mw-100 mh-100" alt="Image">
                <a href="#" class="btn btn-outline-secondary btn-sm" id="nextBtn"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg></a>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const modalImage = document.getElementById('modalImage');
    const modal = new bootstrap.Modal(document.getElementById('imageModal'), {
        keyboard: true
    });

    const imageLinks = document.querySelectorAll('[data-toggle="modal"]');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const images = Array.from(imageLinks).map(link => link.querySelector('img').src);
    let currentIndex = 0;

    function showImage(index) {
        if (index >= 0 && index < images.length) {
            modalImage.src = images[index];
            currentIndex = index;
        }
    }

    prevBtn.addEventListener('click', function (e) {
        e.preventDefault();
        showImage(currentIndex - 1);
    });

    nextBtn.addEventListener('click', function (e) {
        e.preventDefault();
        showImage(currentIndex + 1);
    });

    imageLinks.forEach(function (link, index) {
        link.addEventListener('click', function (e) {
            e.preventDefault();
            showImage(index);
            modal.show();
        });
    });

    // Add event listener for arrow key presses
    document.addEventListener('keydown', function (e) {
        if (modal._isShown) { // Check if the modal is open
            if (e.keyCode === 37) { // Left arrow key
                showImage(currentIndex - 1);
            } else if (e.keyCode === 39) { // Right arrow key
                showImage(currentIndex + 1);
            }
        }
    });
});
</script>
