@font-face {
    font-family: "Proxima Nova";
    src: url(fonts/ProximaNova-Regular.otf);
    font-display: swap
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/Proxima Nova Thin.otf");
    font-weight: 300;
    font-display: swap
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(fonts/CaviarDreams.ttf);
    font-display: swap
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(fonts/CaviarDreams_Bold.ttf);
    font-weight: 700;
    font-display: swap
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(fonts/CaviarDreams_Bold.ttf);
    font-weight: 700;
    font-display: swap
}

/* Reset some default margin and padding for consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1.5em;
}

/* Set the background color for the entire page to dark */
body {
    background-color: #000;
    color: #fff; /* Set text color to white for better contrast */
    font-family: "Proxima Nova";
    font-weight: 700;
    font-display: swap
}

header {
    background-color: #000;
    padding: 10px;
}

/* Adjust other styles as needed */


/* Style the header text with adjusted font size */
header h1 {
    color: #fff;
    font-size: 1.5rem;
}

/* Adjust the styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
}

/* Style the navbar links */
.navbar-nav .nav-link {
    color: #fff;
}

/* Style the main content area */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Style the footer with a gray background and padding */
footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
}

/* Add this style to ensure proper spacing above the footer */
.row {
    margin-bottom: auto;
}

/* Style the navbar links */
.navbar-nav .nav-link {
    color: #fff;
}


body {
    background-color: #070606; /* Set your desired dark background color */
    color: #fff; /* Set text color */
        padding: 0; 
        display: flex; 
        flex-direction: column; 
        min-height: 100vh;
        }
 .container {
     flex-grow: 1; /* Allow main content to grow and occupy remaining space */
    }
    a {
    text-decoration: none; /* Remove underline */
    color: #bee5eb; /* Change link color to your preference */
    }
.blog-post-box {
    border: 1px solid #276e78; 
    margin-bottom: 20px;
    padding: 20px;
    text-align: center; 
    background-color: #438482; 
    }

.blog-post-content {
    /* Style the content within the blog post box */
    margin: 0 auto; /* Center-align content horizontally */
    max-width: 600px; /* Set a maximum width for the content */
}

