<!DOCTYPE html>
<html>

<head>
    <title>
        {% if page.title %}
            Lia's Page: {{ page.title }}
        {% else %}
            Lia's Page
        {% endif %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='/assets/fonts/fira_code/fira_code.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='/common.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/gray.css"/>
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='/main.css') }}">

</head>

<body>
    {% include "header.html" %}
    <div class="container">
        <main>
            <article>
                {% block content %}
                {% endblock %}
            </article>
        </main>
    </div>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>

</html>
