{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<div class="blog-posts">
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
  {% for page in section.pages %}
  <div class="blog-post-box">
    <div class="blog-post-content">
      <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
      <p>{{ page.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}