<header class="container-fluid py-3">
    <div class="row">
        <div class="col-8">
            <h1 style="font-size: 1.9rem;">Lia's Page</h1>
            
            <!-- Social media icons -->
            <ul style="display: flex; justify-content: start; padding: 0; list-style: none;">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-size: 24px;"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item" style="margin-left: 10px;"> <!-- Adjust the margin as needed -->
                    <a class="nav-link" href="#" style="font-size: 24px;"><i class="fab fa-discord"></i></a>
                </li>
                <!-- Add more social media icons as needed -->
            </ul>
        </div>
        <div class="col-4">
            <nav class="navbar navbar-expand-lg">
                <!-- Toggle button for small screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <!-- Your navigation items here -->
                        {% for page in config.extra.toolbar_pages %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ get_url(path=page[1]) }}">{{ page[0] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <hr class="bodybar" style="margin: 0; height: 1px; border: none; background-color: transparent;">
</header>
