{% extends "base.html" %}
{% block content %}
<html>
    <head>
        <meta http-equiv="refresh" content="0; url='/home'" />
    </head>
    <body>
        <p>It looks like your browser does not support redirects. Click <a href="/home">here</a> for my homepage.</p>
    </body>
</html>
{% endblock %}
